*{
  padding: 0;
  margin:0;
}
.App {
  text-align: center;
  font-size: 60px;
}

footer{
  width: 100%;
  height: 50px;
  text-align: center;
  background-color:#212121;
  color: white;
  font-size: 14px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}
 
header{
  
  background-color:#212121;
  background-size: cover;
  height: 10vh;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  z-index: 100;
  position: fixed;

  ul{
    list-style: none;
    display: flex;
    li{
      float: left;
      flex: 1;
      line-height: 10vh;

      .activeLink{
        color: white;
      }
    }
  }

    img{
      height: 8vh;
      margin-top: 1vh;
      margin-left: 2vw;
    
    }
    div{
      float: right;
      width: 250px;
      margin-right: 4vw;

      .navlink{
        
        text-decoration: none;
        margin-top: 3vh;
        font-size: 18px;
        color:lightgray;
        font-family: 'Roboto', sans-serif;
      }
    }
}


.menu{
  
  visibility:hidden;
  transform: translate(0,2vh);
  position: absolute;
  right: 30px;
  &:hover{
    cursor: pointer;
  }
}

.close{
  
  visibility:hidden;
  transform: translate(0,2vh);
  position: absolute;
  right: 30px;
  &:hover{
    cursor: pointer;
  }
}



@media only screen and (max-width:800px){
  .menu{
    visibility: visible;
  }

  
  .openMenu{
    visibility: hidden;
  }
  .showClose{
    visibility: visible;
  }

  header div{
    display: block;

  }
  

  .linkUl{
    background-color: #f1f1f1;
    z-index: -3;
    box-shadow: 0px 0px 8px #333;
    position: absolute;
    right: 0;
    top:10.2vh;
    height: 90vh;
    width: 40%;
    display: block;
    border-radius: 4px;
    li{
      display: block;
      text-align: center;
      float: none;
      .activeLink{
        color: black;
      }
    }
  }

  .showSide{
    display: none;
  }
  
}

